 .u-section-1 {
  background-image: url("images/pobrane.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 504px;
}

.u-section-1 .u-image-1 {
  width: 500px;
  height: 281px;
  --radius: 40px;
  margin: 60px 33px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -262px auto 0 32px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  --radius: 40px;
  margin: 32px auto 0 32px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  --radius: 40px;
  margin: 25px auto 0 32px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  --radius: 40px;
  margin: 25px auto 0 32px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  --radius: 40px;
  margin: -192px auto 0 187px;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  --radius: 40px;
  margin: 25px auto 0 187px;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  --radius: 40px;
  margin: 25px auto 0 187px;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  --radius: 40px;
  margin: -192px auto 0 342px;
}

.u-section-1 .u-btn-8 {
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  --radius: 40px;
  margin: 25px auto 0 342px;
}

.u-section-1 .u-btn-9 {
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  --radius: 40px;
  margin: 25px auto 0 342px;
}

.u-section-1 .u-text-2 {
  margin-right: 33px;
  margin-bottom: 0;
  margin-left: auto;
}

.u-section-1 .u-btn-10 {
  font-weight: 700;
  font-size: 0.9375rem;
  border-style: solid;
  --radius: 40px;
  margin: -51px auto 60px 32px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 31px;
    margin-left: 0;
    padding: 8px 33px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 26px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -190px;
    margin-left: 142px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 24px;
    margin-left: 142px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 142px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 277px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 24px;
    margin-left: 277px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 27px;
    margin-left: 277px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 105px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -131px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 56px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 35px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -45px;
    margin-right: 145px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 30px;
    margin-left: 144px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -125px;
    margin-left: 144px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -47px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -125px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 30px;
    margin-left: 57px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: -47px;
    margin-right: 145px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 135px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -235px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -47px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 31px;
    margin-right: 127px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 142px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 31px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -47px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -121px;
    margin-right: 127px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 27px;
    margin-left: 137px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 65px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -151px;
    margin-right: auto;
    margin-left: 130px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-1 .u-image-1 {
    height: 191px;
    margin-top: 55px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -236px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 209px;
    margin-left: -27px;
    padding-top: 9px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 8px;
    margin-left: -23px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 12px;
    margin-right: 0;
    margin-left: -23px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -161px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 12px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -160px;
    margin-right: -29px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 6px;
    margin-right: -26px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 12px;
    margin-right: -26px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -40px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 19px;
    margin-bottom: 4px;
    margin-left: -23px;
  }
} .u-section-2 {
  background-image: url("images/pobrane.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1410px;
}

.u-section-2 .u-text-1 {
  margin: 53px 0 0 32px;
}

.u-section-2 .u-image-1 {
  width: 302px;
  height: 170px;
  margin: 30px auto 0 32px;
}

.u-section-2 .u-image-2 {
  width: 302px;
  height: 170px;
  margin: -170px auto 0 407px;
}

.u-section-2 .u-image-3 {
  width: 302px;
  height: 170px;
  margin: -170px 56px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 302px;
  height: 170px;
  margin: 56px auto 0 32px;
}

.u-section-2 .u-image-5 {
  width: 302px;
  height: 170px;
  margin: -170px auto 0 407px;
}

.u-section-2 .u-image-6 {
  width: 302px;
  height: 170px;
  margin: -170px 56px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1163px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 28px;
    margin-left: 125px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 91px;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: 27px;
    margin-right: auto;
    margin-left: 125px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -159px;
    margin-right: 91px;
    margin-left: auto;
  }

  .u-section-2 .u-image-5 {
    margin-top: 28px;
    margin-left: 125px;
  }

  .u-section-2 .u-image-6 {
    margin-top: -159px;
    margin-right: 91px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1412px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 35px;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    margin-top: -164px;
    margin-right: 0;
  }

  .u-section-2 .u-image-5 {
    margin-top: 29px;
    margin-left: 11px;
  }

  .u-section-2 .u-image-6 {
    margin-top: -180px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1353px;
  }

  .u-section-2 .u-image-1 {
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 125px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 41px;
    margin-right: 106px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 35px;
    margin-left: auto;
  }

  .u-section-2 .u-image-6 {
    margin-top: 23px;
    margin-right: auto;
    margin-bottom: 57px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1318px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 15px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 25px;
    margin-right: 38px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: 15px;
    margin-left: 38px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 38px;
    margin-right: 38px;
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    margin-top: 43px;
    margin-left: 0;
  }

  .u-section-2 .u-image-6 {
    margin-top: 33px;
    margin-bottom: 43px;
    margin-left: 0;
  }
}